<h1>Personajes</h1>

<hr/>

<div class="row" >
    <div class="col-sm-6" >
      Ordernar Por

      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="sortOp='height'" >Altura</button>
        <button type="button" class="btn btn-default" ng-click="sortOp='name'" >Nombre</button>
      </div>
    </div>
    <div class="col-sm-6" >
        <input type="text" ng-model="searchByName" class="form-control" placeholder="Buscar por titulo" />
    </div>
</div>

<hr/>

<div class="row">

  <div ng-repeat="personaje in personajes | orderBy:sortOp | filter:{name:searchByName}" >
    <div class="col-sm-4 col-md-3">

        <personaje-thumbail personaje="personaje"</personaje-thumbail>
      <!--<div class="thumbnail">
        <img ng-src="img/people/{{personaje.name}}.jpg" alt="...">
        <div class="caption">
          <h3>{{personaje.name}}</h3>
          <p>height : {{personaje.height}}</p>
          <p>Año de Nacimiento : {{personaje.birth_year}}</p>
        </div>
      </div>-->
    </div>
  </div>

</div>
